<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    ​


    <!-- Appender to log to console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <!-- 本地环境 -->
    <springProfile name="local">
        <logger name="cn.com.tcc.ofa" level="debug" ></logger>
        <logger name="com.alibaba.nacos.client.naming" level="error"></logger>
        <logger name="com.alibaba.nacos.client.config.impl" level="error"></logger>
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>



</configuration>